#center_screen {
    width: 90%;
    max-width: 850px;
    margin: 20px auto;
    line-height: 150%;
}

#title {
  font-size: 2.5rem;
}

#logo {
    display: inline-block;
    height: 108px;
}

#logo img {
    height: 100%;
}

#footer {
    padding: 10px 30px;
    background-color: black;
    color: white;
    text-align: center;
}

#footer_menu {
    text-align: center;
    width: 100%;
}
#footer_menu a {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 20px;
    border-radius: 20px;
    font-weight: bold;
    color: white;
}

#footer_menu a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

#footer_menu a:hover {
    background-color: white;
    color: black;
}

.buy_button:hover {
    box-shadow: 10px 10px 5px #888888;
}

.multiline-footer {
  background: #f9f9f9;
  margin: 0;
  margin-top: 100px;
  padding: 0;
  border-top: 1px solid #f2f2f2;
  font-size: 14px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 1.42857143;
}

.multiline-footer .mainnavigation-row {
  margin-top: 20px;
  font-size: 14px;
  color: #444;
}

.multiline-footer ul {
  padding: 0;
  margin: 0;
}

.multiline-footer ul li {
  display: inline-block;
  list-style: none;
  margin: 0 2px;
}

.multiline-footer .mainnavigation-row ul li a {
  color: #999;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  text-decoration: none;
  transition: all .2s;
}

.multiline-footer a, .multiline-footer p {
  display: inline-block;
  padding: 5px 10px;
  color: #0d0d0d;
  margin: 0;
}

.multiline-footer .copyright-row {
  margin-top: 15px;
  margin-bottom: 20px;
}

.multiline-footer .copyright-row .copyright {
  color: #999;
}

.multiline-footer .mainnavigation-row ul li a:hover
{
  border-color: #000;
  color: #000;
}


.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.text-center {
    text-align: center;
}

.page-title {
  margin-top: 1rem;
  margin-bottom: .5rem;
  font-weight: 300;
  font-size: 3rem;
}

.page-lead {
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 20px;
}

.section-header {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: 400;
  font-size: 1.5rem;
}

.btn-bd-download {
  font-weight: 600;
  color: #007bff;
  border-color: #007bff;
}

h4 {
  font-weight: 400;
}

.gold-color {
  color: #F2A62C!important;
}

.gold-color-border {
  border-color: #F2A62C!important;
}

.header-guide {
  margin-top: 20px;
  font-size: 25px;
  text-decoration: underline;
}


.page-title {
    margin-top: 1rem;
    margin-bottom: .5rem;
    font-weight: 300;
    font-size: 3rem;
}

section.settings {
  padding: 20px;
  margin-top: 20px;
  border-radius: 20px;
}

section.settings h3 {
  margin-bottom: 1rem;
  font-weight: 500;
}

section.settings p {
  margin-bottom: 0.5rem;
}


.navbar-nav .active>.nav-link {
  text-decoration: underline;
}

.navbar-nav .nav-link {
  color: #545454;
}

body { padding-top: 56px; }

.edge-only {
  display: none;
}
